@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url(//db.onlinewebfonts.com/c/de28cb13c2675e99dae4ef5fc25e316e?family=PIXymbolsWINmenuW01-Menu);
body {
  font-family: 'PIXymbolsWINmenuW01-Menu', monospace;
  background-color: #10206c;
  margin: 0; 
  padding: 0;
}

.modal1 {
  /* position: absolute;
  /* font-family: ''; */
  /* font-size: larger;
  font-weight: initial;
  background-color: #10206c;
  text-align: center;
  display: flex;
  justify-content: center; */

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -1; /* Sit on top */
  left: 40;
  top: 40;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


.header_navbar a{
  font-family: PIXymbolsWINmenuW01-Menu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  color:#5A73D6;
}

.header_navbar li a:hover{
  color:#FFFFFF;
}

.header_navbar .active a{
  color:#FFFFFF!important;
}

.header_navbar .disabled{
  color:#5A73D6;
  opacity: 0.4;
}

.game_menu{
  font-family: Noto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #5A73D6;
  list-style-type: none;
}

.game_menu li{
  margin-bottom: 20px;
}

.game_menu li:hover, .game_menu .active{
  color:#FFFFFF;
}

.game_menu .disabled{
  color: #5A73D6;
  opacity: 0.4;
}

footer{
  background-color:rgba(36, 36, 36, 0.2);
}

.footer_list{
  text-align: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #5A73D6;
}

.footer_list a{
  text-decoration: none;
  color: #5A73D6;
  font-size: 1.5rem;
}

.footer_credits{
  font-family: VT323;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: #A3A3A3;
}

.gold_white_bg{
  background-image: url('./images/frames/goldWhite.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gold_white_bg:hover{
  background-image: url('./images/frames/goldWhiteHover.svg');
  background-size: 101% 101%;
  overflow: none;
}

.blue_white_bg{
  background-image: url('./images/frames/blueWhite.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blue_white_bg:hover{
  background-image: url('./images/frames/blueWhiteHover.svg');
  background-size: 101% 101%;
  overflow: none;
}

.grey_white_bg{
  background-image: url('./images/frames/greyWhite.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grey_white_bg:hover{
  background-image: url('./images/frames/greyWhiteHover.svg');
  background-size: 100% 100%;
  overflow: none;
}

.wallet_table{
  border: 2px solid #5A73D6;
  box-sizing: border-box;
  box-shadow: 6px 15px 0px rgba(0, 0, 0, 0.4);
  background: #10206C;
}

/* .claim_byte_btn{
  border: 2px solid #5A73D6;
  background: #10206C;
  color: #5A73D6;
} */

.claim_byte_btn{
  color: #FFFFFF;
  min-width: 9.5625rem;
  background: linear-gradient(180deg, #063A73 0%, #FF00A5 100%);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 8px #FF00E6;
}

.claim_byte_btn:hover{
  background: linear-gradient(180deg, #063A73 0%, #FF00A5 100%);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 8px #FF00E6;
}

.claim-fighter {
  border: solid #ffffff;
  box-shadow : 0px 0px 10px #0AC4FF;
}

.claim-fighter[disabled], .claim-fighter[disabled]:hover {
  border-color: rgba(248,249,250,.4);
  color: rgba(248,249,250,.4);
  box-shadow : none;
}

.claim_modal{
  background: #10206C;
  border: 2px solid #5A73D6;
  box-sizing: border-box;
  box-shadow: 12px 30px 0px rgba(0, 0, 0, 0.4);
}

.claim_modal .modal-header{
  padding: 24px;
  color: #FBFCFF;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.claim_modal .modal-title{
  font-family: Noto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #FBFCFF;
}

.claim_modal .close{
  color: #FBFCFF!important;
}

.claim_modal .title{
  font-family: Noto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #5A73D6;
}

.claim_modal .value{
  font-family: PIXymbolsWINmenuW01-Menu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.claim_modal .claim_btn{
  background: #10206C;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #0AC4FF;
  color: white;
}

.myaccount_dropdown{
  background: #10206C;
  border: 2px solid #5A73D6;
  box-sizing: border-box;
  box-shadow: 6px 15px 0px rgba(0, 0, 0, 0.4);
  width: 320px;
}

.myaccount_dropdown .text{
  font-family: Noto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #5A73D6;
}

.myaccount_dropdown .item:hover{
  background-color: unset;
}